<ion-header>
  <ion-toolbar>
    <ion-title>Atualizações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-item class="item-style">
    <ion-avatar class="user-avatar">
      <img src="https://randomuser.me/api/portraits/men/15.jpg" alt="">
    </ion-avatar>
    <ion-label></ion-label>
    <ion-input placeholder="No que está pensando?" [(ngModel)]="content" ></ion-input>
    <ion-button color="primary" shape="round" color="danger" (click)="salvaPost();">Enviar</ion-button>
  </ion-item>

  <ion-segment [(ngModel)]="size">
    <ion-segment-button value="20">
      Mais recentes
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let post of posts" class="card-border">
    <ion-card-header >
      <ion-row >
                <ion-col size="auto">
          <ion-avatar class="user-avatar">
            <img [src]="'https://randomuser.me/api/portraits/lego/1.jpg'" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col >
          <ion-card-title>@{{post.username}}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{post.content}}</ion-text>
      <ion-row>
        <ion-col size="auto">
          <ion-button fill="clear" color="danger">
            <ion-icon slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="send-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto" style="margin-left: auto">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>

