<ion-header [translucent]="true">
  <ion-toolbar>

    <h1>TextGram<ion-icon ion-icon name="logo-wechat" ></ion-icon> </h1>
    
  
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar>

      <ion-tab-button tab="feed">
        <ion-icon name="home"></ion-icon>
        <ion-label>Atualizações</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="explore">
        <ion-icon name="search"></ion-icon>
        <ion-label>Procurar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="likes">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Curtidas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>