<ion-header>
  <ion-toolbar>
    <ion-title> Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet id="nome-do-conteudo"></ion-router-outlet>
  <ion-row class="ion-align-items-center ion-margin">
    <ion-col size="auto">
      <ion-avatar class="user-avatar">
        <img src="https://randomuser.me/api/portraits/men/15.jpg" alt="">
      </ion-avatar>
    </ion-col>
    <ion-col class="ion-text-center">
      <strong>20</strong>
      Publicações
    </ion-col>
    <ion-col class="ion-text-center">
      <strong>846</strong>
      Seguidores
    </ion-col>
    <ion-col class="ion-text-center">
      <strong>333</strong>
      Seguindo
    </ion-col>
  </ion-row>

  <div class="ion-margin">
    <p><strong>Jozefon Seven</strong></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aspernatur inventore commodi suscipit sed.
    </p>
  </div>

  <ion-segment [(ngModel)]="size">
    <ion-segment-button value="4">
      <ion-icon name="grid"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="20">
      <ion-icon name="square"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- aq troca para as frases dele
    <ion-row>
    <ion-col [size]="size" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13]">
      <img [src]="'https://picsum.photos/id/'+(i*15)+'/500'" alt="">
    </ion-col>
  </ion-row>-->

</ion-content>


